body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/Resource/fondo.jpg");
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Baskerville, serif;
}



.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    background-color: transparent;
    color: #b30000;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.card-body {
    padding: 20px;
}

h1, h3 {
    color: #b30000;
    font-family: Baskerville, serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #b30000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #800000;
}

#show-password {
    background-color: #d9534f;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#show-password:hover {
    background-color: #c9302c;
}

#exitbtn {
    background-color: #dc3545;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#exitbtn:hover {
    background-color: #a71d2a;
}

.alert {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.mt-3 {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}
