body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/Resource/fondo.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #ffffffa1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff0000;
    color: #000;
    max-width: 100%;
    width: max-content;
}

.container h3 {
    margin-bottom: 10px;
    text-align: center;
}

.container input[type="text"],
.container input[type="password"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ff0000;
}

.container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff1100;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.container button:hover,
.container button:focus {
    background-color: #771200;
}

.btn-primary,
.btn-danger {
    background-color: #ff0400;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-primary:focus,
.btn-danger:focus {
    background-color: #771200;
}

.btn-primary {
    color: #fff;
}

.btn-danger {
    color: #000000;
}

.btn-primary:hover,
.btn-danger:hover {
    background-color: #ff0000;
}

.btn-primary:focus,
.btn-danger:focus {
    background-color: #00ffff;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.table-custom th,
.table-custom td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #000;
}

.table-custom th {
    background-color: #f2f2f2;
    color: #333;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-custom tbody tr:hover {
    background-color: #f2f2f2;
    transition: background-color 0.3s;
}
