body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("/Resource/fondo.jpg");
    background-size: cover;
    background-position: center;
    color: #000000; /* Rojo oscuro */
    font-family: Baskerville, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.336);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff0000; /* Rojo oscuro */
}

.table-container {
    overflow-x: auto;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
}

.table-custom th, 
.table-custom td {
    border: 1px solid #e0e0e0; /* Gris claro */
    padding: 8px;
    text-align: center;
}

.table-custom th {
    background-color: #d32f2f; /* Rojo oscuro */
    color: white;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #fafafa; /* Gris muy claro */
}

.btn-primary {
    background-color: #d32f2f; /* Rojo oscuro */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #b71c1c; /* Rojo más oscuro al pasar el ratón */
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(211, 47, 47, 0.5); /* Rojo oscuro con transparencia */
}

.modal-header {
    background-color: #d32f2f; /* Rojo oscuro */
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-close {
    color: #fff;
}

.form-label {
    color: #333; /* Gris oscuro */
}

#togglePassword {
    background-color: #d32f2f; /* Rojo oscuro */
    color: #fff;
}

.btn-danger {
    background-color: #b71c1c; /* Rojo más oscuro */
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #9a0007; /* Rojo aún más oscuro al pasar el ratón */
}
